.container{
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	flex-wrap: wrap;
	margin: 0 auto;
}
.container_timer{
	max-width: 300px;
	margin: 20px auto;
	padding: 10px;
	background: grey;
	text-align: center;
	color: orange;
	font-size: 15px;
}
.contTime{
	margin: 0 auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.time{
	padding: 20px 5px 5px 5px;
	min-width: 50px;
	height: 50px;
	margin: 3px;
	text-align: center;
	line-height: 15px;
	background-color: black;
	color: orange;
	letter-spacing: 2px;
	font-size: 16px;
	box-shadow: 4px 2px 45px orange;
}
.unitTimer{
	font-size: 10px;
}
.timer-button,
.reset-timer{
	background-color: orange;
	width: 75px;
	text-align: center;
	border: 0;
	padding: 5px;
	border-radius: 20px;
}
.timer-button:hover,
.reset-timer:hover{
	background-color: #FF8C00;
	cursor: pointer;
}